<a href="https://colab.research.google.com/github/mosta82/mySelf_Practices/blob/main/FastAPI_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 25
name = "Rahim"
print(f"My name is {name} and I am {age} years old.")

My name is Rahim and I am 25 years old.

In [ ]:
num = 10
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Positive

In [ ]:
for i in range(1, 6):  # Prints 1 to 5
    print(i)

1
2
3
4
5

In [ ]:
count = 0
while count < 3:
    print("Hello!")
    count += 1

Hello!
Hello!
Hello!

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 5
Odd

In [ ]:
total = 0
for i in range(1, 51):
    total += i
print("Sum:", total)  # Output: 1275

Sum: 1275

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)  # Output: 8

8

In [ ]:
def greet(name="Guest"):
    return f"Hello, {name}!"

print(greet())          # Output: Hello, Guest!
print(greet("Alice"))   # Output: Hello, Alice!

Hello, Guest!
Hello, Alice!

In [ ]:
student = {
    "name": "Rahim",
    "age": 22,
    "courses": ["Python", "FastAPI"]
}

print(student["name"])  # Output: Rahim

Rahim

In [ ]:
import json

# Python dict → JSON
student_json = json.dumps(student)
print(student_json)  # Output: {"name": "Rahim", "age": 22, ...}

# JSON → Python dict
student_dict = json.loads(student_json)
print(student_dict["age"])  # Output: 22

{"name": "Rahim", "age": 22, "courses": ["Python", "FastAPI"]}
22

In [ ]:
import json

data = {"name": "Alice", "age": 25}

with open("data.json", "w") as file:
    json.dump(data, file)  # Saves JSON to 'data.json'

In [ ]:
with open("data.json", "r") as file:
    loaded_data = json.load(file)

print(loaded_data["name"])  # Output: Alice

Alice

In [ ]:
import json

student = {
    "name": input("Enter name: "),
    "age": int(input("Enter age: ")),
    "courses": input("Enter courses (comma-separated): ").split(",")
}

with open("students.json", "w") as file:
    json.dump(student, file)

with open("students.json", "r") as file:
    print(json.load(file))

Enter name: Mostafizur
Enter age: 25
Enter courses (comma-separated): Math,English
{'name': 'Mostafizur ', 'age': 25, 'courses': ['Math', 'English']}

In [ ]:
def calculate(a, b, operation):
    if operation == "add":
        return a + b
    elif operation == "subtract":
        return a - b
    elif operation == "multiply":
        return a * b
    elif operation == "divide":
        return a / b
    else:
        return "Invalid operation!"

print(calculate(10, 5, "add"))  # Output: 15
print(calculate(10, 5, "subtract"))
print(calculate(10, 5, "divide"))

15
5
2.0

In [ ]:
import json

student = {
    "name": "Mostafiz",
    "age": 23,
    "class": "CSE"
}

json_data = json.dumps(student)  # dict -> JSON string
print(json_data)

{"name": "Mostafiz", "age": 23, "class": "CSE"}

In [ ]:
import json

json_text = '{"name": "Rahim", "age": 20, "class": "CSE"}'
student_dict = json.loads(json_text)  # JSON string -> dict

print(student_dict["name"])
print(student_dict["age"])

Rahim
20

In [ ]:
import json

student = {"name": "Mostafiz", "age": 23, "class": "CSE"}

with open("student.json", "w") as file:
    json.dump(student, file)

In [ ]:
import json

with open("student.json", "r") as file:
    data = json.load(file)

print(data)
print(data["name"])

{'name': 'Mostafiz', 'age': 23, 'class': 'CSE'}
Mostafiz

In [ ]:
import json

def save_student(name, age):
    student = {"name": name, "age": age}
    with open("student1.json", "w") as file:
        json.dump(student, file)
    print("Student saved successfully!")

save_student("Rahim", 20)

Student saved successfully!

In [ ]:
def read_student():
    with open("student1.json", "r") as file:
        data = json.load(file)
    return data

print(read_student())

{'name': 'Rahim', 'age': 20}

In [ ]:
import json

students = []

for i in range(3):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    students.append({"name": name, "age": age})

with open("students.json", "w") as file:
    json.dump(students, file)

print("All students saved successfully!")

Enter name: Morshed
Enter age: 24
Enter name: Rahman
Enter age: 25
Enter name: Moatafizur
Enter age: 25
All students saved successfully!

In [ ]:
students = [
    {"name": "Alice", "age": 22},
    {"name": "Bob", "age": 19},
    {"name": "Charlie", "age": 25}
]

filtered_students = [student for student in students if student["age"] > 20]
print(filtered_students)
# Output: [{'name': 'Alice', 'age': 22}, {'name': 'Charlie', 'age': 25}]

[{'name': 'Alice', 'age': 22}, {'name': 'Charlie', 'age': 25}]

In [ ]:
sentence = "hello world hello python world"
words = sentence.split()
word_count = {}

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

print(word_count)
# Output: {'hello': 2, 'world': 2, 'python': 1}

{'hello': 2, 'world': 2, 'python': 1}

In [ ]:
def count_digits(N):
    sequence = ""
    for i in range(1, N+1):
        sequence += str(i)
    count = [0] * 10
    for digit in sequence:
        count[int(digit)] += 1

    print(*count)
count_digits(15)

1 8 2 2 2 2 1 1 1 1

In [1]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Enter a number: 21
Odd Number

In [2]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive Number")
elif num < 0:
    print("Negative Number")
else:
    print("Number is Zero")

Enter a number: 21
Positive Number

In [3]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print("Largest number is:", a)
elif b >= a and b >= c:
    print("Largest number is:", b)
else:
    print("Largest number is:", c)

Enter first number: 12
Enter second number: 45
Enter third number: 65
Largest number is: 65